@model IEnumerable<BookStore.Models.SACH>

@{
    ViewBag.Title = "SPTheoChuDe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center; color:red">SÁCH THEO CHỦ ĐỀ</h3>
<div class="row">
    @foreach (var sach in Model)
    {
        <div class="templatemo_product_box">
            <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach})">
                <img alt="@sach.Tensach" src="../../Hinhsanpham/@sach.Hinhminhhoa" width="100" />
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @sach.Tensach
                    </h4>
                </div>

                <div class="ratings">
                    <p class="pull-right" style="color:red"> 15 reviews </p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </a>
        </div>
    }
</div>